.banner-slider{
}

	.banner-slider__wrapper{
		position: relative;
		z-index: 0;
	}

	.banner-slider__slide{
		position: absolute;
		z-index: 0;
		top: 0;
		opacity: 0;
		transition: 1s all ease;

		img{
			width: 100%;
		}
	}

	.banner-slider__slide--active{
		opacity: 1;
	}