.buttons-group{
	border-radius: 7px;
	border: 1px solid #666;
	display: flex;
	align-items: strech;

	> * {
		border-radius: 0 !important;
		flex: 1;
		min-width: 0 !important;
	}

	.button:first-child{
		border-top-left-radius: 7px !important;
		border-bottom-left-radius: 7px !important;
	}

	.button:last-child{
		border-top-right-radius: 7px !important;
		border-bottom-right-radius: 7px !important;
	}

}

.buttons-group--vertical{
	flex-direction: column;

	.button:first-child{
		border-radius: 0 !important;
		border-top-left-radius: 7px !important;
		border-top-right-radius: 7px !important;
	}

	.button:last-child{
		border-radius: 0 !important;
		border-bottom-right-radius: 7px !important;
		border-bottom-left-radius: 7px !important;
	}
}

.button{
	background-color: $color-main;
	line-height: 50px;
	border-radius: 2px;
	border: 0;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	min-width: 200px;
	transition: .3s all ease;
	outline: none;
	cursor: pointer;

	@extend .shadow-dp-2;

	&:hover,
	&:focus{
		@extend .shadow-dp-3;
		background-color: $color-main + #111;
	}
}

.button--block{
	display: block;
	width: 100%;
}
