$color-main: #017338;
$color-main-dark: #115c35;
$color-main-light: #1f9559;

$color-state-primary: #337ab7;
$color-state-success: #5cb85c;
$color-state-info:    #5bc0de;
$color-state-warning: #f0ad4e;
$color-state-danger:  #d9534f;

$featured-font: 'Bebas Neue';
$normal-font: sans-serif;

$grid-columns: 12;
$grid-gutter: 10px;
$grid-containers: (
	xl: 1170px,
	lg: 960px,
	md: 720px,
	sm: 540px,
	xs: 100%,
);

$grid-breakpoints: (
	xl: none,
	lg: 1200px,
	md: 992px,
	sm: 768px,
	xs: 576px,
);