@function _breakpoint-rule($name, $breakpoint, $value){
	@if map-get($grid-breakpoints, $breakpoint) == none {
		@return $name + '-' + $value;
	}
	@return $name + '-' + $breakpoint + '-' + $value;
}

.container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: $grid-gutter;
	padding-right: $grid-gutter;
}

.container--no-gutter{
	padding-left: 0;
	padding-right: 0;
}

.row{
	margin-left: $grid-gutter * -1;
	margin-right: $grid-gutter * -1;
	display: flex;
	flex-wrap: wrap;
}

.row--no-gutter{
	margin-left: 0;
	margin-right: 0;
	.col{
		padding-left: 0;
		padding-right: 0;
	}
}

.col {
	flex: 1;
	padding-left: 15px;
	padding-right: 15px;
}

@each $breakpoint, $container-size in $grid-containers {	
	@include breakpoint($breakpoint){
		
		.container{
			max-width: $container-size;
		}

		/* Columns */
		@for $column from 1 through $grid-columns {
			#{_breakpoint-rule('.col', $breakpoint, $column)} {
				flex-basis: percentage($column / $grid-columns);
				max-width: percentage($column / $grid-columns);
				padding-left: $grid-gutter;
				padding-right: $grid-gutter;
			}
			
			#{_breakpoint-rule('.order', $breakpoint, $column)} {
				order: $column;
			}
		}
	
		/* Breakpoint */
		#{_breakpoint-rule('.col',$breakpoint, '-v-top')} {
			align-self: flex-start;	
		}

		#{_breakpoint-rule('.col',$breakpoint, '-v-center')} {
			align-self: center;	
		}

		#{_breakpoint-rule('.col',$breakpoint, '-v-bottom')} {
			align-self: flex-bottom;	
		}

		#{_breakpoint-rule('.container', $breakpoint, '-full-height')} {
			height: 100%;
		}

		#{_breakpoint-rule('.row', $breakpoint, '-full-height')} {
			height: 100%;
		}

		#{_breakpoint-rule('.row', $breakpoint, '-v-top')} {
			align-items: flex-start;
		}

		#{_breakpoint-rule('.row', $breakpoint, '-v-center')} {
			align-items: center;
		}
		
		#{_breakpoint-rule('.row', $breakpoint, '-v-end')} {
			align-items: flex-start;
		}

		#{_breakpoint-rule('.row', $breakpoint, '-v-full')} {
			align-items: stretch;
		}

		#{_breakpoint-rule('.row', $breakpoint, '-v-line')} {
			align-items: baseline;
		}

		#{_breakpoint-rule('.row', $breakpoint, '-h-start')} {
			justify-content: flex-start;
		}
		
		#{_breakpoint-rule('.row', $breakpoint, '-h-center')} {
			justify-content: center;
		}

		#{_breakpoint-rule('.row', $breakpoint, '-h-end')} {
			justify-content: flex-end;
		}

		#{_breakpoint-rule('.row', $breakpoint, '-h-distance')} {
			justify-content: space-between;
		}
		
		#{_breakpoint-rule('.row', $breakpoint, '-h-around')} {
			justify-content: space-around;
		}

		#{_breakpoint-rule('.row', $breakpoint, '-row-start')} {
			flex-direction: row;
		}

		#{_breakpoint-rule('.row', $breakpoint, '-row-reverse')} {
			flex-direction: row-reverse;
		}

		#{_breakpoint-rule('.row', $breakpoint, '-column-start')} {
			flex-direction: column;
		}

		#{_breakpoint-rule('.row', $breakpoint, '-column-reverse')} {
			flex-direction: column-reverse;
		}

		#{_breakpoint-rule('.text', $breakpoint, '-right')} {
			text-align: right;
		}

		#{_breakpoint-rule('.text', $breakpoint, '-center')} {
			text-align: center;
		}

		#{_breakpoint-rule('.text', $breakpoint, '-left')} {
			text-align: left;
		}

		#{_breakpoint-rule('.text', $breakpoint, '-justify')} {
			text-align: justify;
		}

		#{_breakpoint-rule('.p', $breakpoint, '-15')} {
			padding: 15px;
		}

		#{_breakpoint-rule('.p', $breakpoint, '-10')} {
			padding: 10px;
		}

		#{_breakpoint-rule('.p', $breakpoint, '-5')} {
			padding: 5px;
		}

		#{_breakpoint-rule('.p', $breakpoint, '-0')} {
			padding: 0;
		}				
	
		#{_breakpoint-rule('.pt', $breakpoint, '-15')} {
			padding-top: 15px;
		}

		#{_breakpoint-rule('.pt', $breakpoint, '-10')} {
			padding-top: 10px;
		}

		#{_breakpoint-rule('.pt', $breakpoint, '-5')} {
			padding-top: 5px;
		}

		#{_breakpoint-rule('.pt', $breakpoint, '-0')} {
			padding-top: 0;
		}

		#{_breakpoint-rule('.pb', $breakpoint, '-15')} {
			padding-bottom: 15px;
		}

		#{_breakpoint-rule('.pb', $breakpoint, '-10')} {
			padding-bottom: 10px;
		}

		#{_breakpoint-rule('.pb', $breakpoint, '-5')} {
			padding-bottom: 5px;
		}

		#{_breakpoint-rule('.pb', $breakpoint, '-0')} {
			padding-bottom: 0;
		}

		#{_breakpoint-rule('.pl', $breakpoint, '-15')} {
			padding-left: 15px;
		}

		#{_breakpoint-rule('.pl', $breakpoint, '-10')} {
			padding-left: 10px;
		}

		#{_breakpoint-rule('.pl', $breakpoint, '-5')} {
			padding-left: 5px;
		}

		#{_breakpoint-rule('.pl', $breakpoint, '-0')} {
			padding-left: 0;
		}	

		#{_breakpoint-rule('.pr', $breakpoint, '-15')} {
			padding-right: 15px;
		}

		#{_breakpoint-rule('.pr', $breakpoint, '-10')} {
			padding-right: 10px;
		}

		#{_breakpoint-rule('.pr', $breakpoint, '-5')} {
			padding-right: 5px;
		}

		#{_breakpoint-rule('.pr', $breakpoint, '-0')} {
			padding-right: 0px;
		}

		#{_breakpoint-rule('.m', $breakpoint, '-15')} {
			margin: 15px;
		}

		#{_breakpoint-rule('.m', $breakpoint, '-10')} {
			margin: 10px;
		}

		#{_breakpoint-rule('.m', $breakpoint, '-5')} {
			margin: 5px;
		}

		#{_breakpoint-rule('.m', $breakpoint, '-0')} {
			margin: 0;
		}				
	
		#{_breakpoint-rule('.mt', $breakpoint, '-15')} {
			margin-top: 15px;
		}

		#{_breakpoint-rule('.mt', $breakpoint, '-10')} {
			margin-top: 10px;
		}

		#{_breakpoint-rule('.mt', $breakpoint, '-5')} {
			margin-top: 5px;
		}

		#{_breakpoint-rule('.mt', $breakpoint, '-0')} {
			margin-top: 0;
		}

		#{_breakpoint-rule('.mb', $breakpoint, '-15')} {
			margin-bottom: 15px;
		}

		#{_breakpoint-rule('.mb', $breakpoint, '-10')} {
			margin-bottom: 10px;
		}

		#{_breakpoint-rule('.mb', $breakpoint, '-5')} {
			margin-bottom: 5px;
		}

		#{_breakpoint-rule('.mb', $breakpoint, '-0')} {
			margin-bottom: 0;
		}

		#{_breakpoint-rule('.ml', $breakpoint, '-15')} {
			margin-left: 15px;
		}

		#{_breakpoint-rule('.ml', $breakpoint, '-10')} {
			margin-left: 10px;
		}

		#{_breakpoint-rule('.ml', $breakpoint, '-5')} {
			margin-left: 5px;
		}

		#{_breakpoint-rule('.ml', $breakpoint, '-0')} {
			margin-left: 0;
		}	

		#{_breakpoint-rule('.mr', $breakpoint, '-15')} {
			margin-right: 15px;
		}

		#{_breakpoint-rule('.mr', $breakpoint, '-10')} {
			margin-right: 10px;
		}

		#{_breakpoint-rule('.mr', $breakpoint, '-5')} {
			margin-right: 5px;
		}

		#{_breakpoint-rule('.mr', $breakpoint, '-0')} {
			margin-right: 0px;
		}

	}
}